{
    "printWidth": 120,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto"
  }
  